#careers_hero {
    padding-top: 228px;
    padding-bottom: 64px;

    .careers_hero_context {
        font-size: 64px;
        margin-bottom: 64px;
    }

    .careers_hero_item {
        display: flex;
        align-items: start;
        justify-content: space-between;

        @media (max-width:775px) {
            flex-direction: column;
            gap: 30px;
        }

        .careers_hero_item_context {
            font-size: 24px;
            margin-bottom: 16px;
        }

        .careers_hero_item_desc {
            font-size: 18px;
            color: #5B5B5B;
        }
    }

}

#careers_details {
    padding-bottom: 128px;

    .careers_details_content {
        padding-top: 64px;
        padding-bottom: 69px;
        padding-left: 68px;
        padding-right: 94px;
        background-color: #C1E4FF4D;
        border-radius: 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;

        @media (max-width:1075px) {
            flex-direction: column;
        }

        .careers_details_content_1item_con1 {
            color: #F58A07;
            font-size: 24px;
            margin-bottom: 40px;
        }

        .careers_details_content_1item_con2 {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .careers_details_content_2item {
            font-size: 16px;
            color: #5B5B5B;
        }
    }
}

#careers_form {
    padding-bottom: 128px;

    .careers_form_context {
        font-size: 48px;
        margin-bottom: 51px;
    }

    .careers_form_inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1280px) {
            flex-direction: column;
        }

        .careers_form_inputs_form {
            width: 628px;
            height: 54px;
            background-color: #D2DAED2B;
            border: none;
            margin-bottom: 24px;
            border-radius: 27px;
            padding-left: 32px;

            @media (max-width:1280px) {
                width: 100%;
            }
        }
    }

    .careers_form_inputs_text_area {
        background-color: #D2DAED2B;
        width: 100%;
        height: 215px;
        border: none;
        border-radius: 27px;
        padding-top: 29px;
        padding-left: 32px;
        margin-bottom: 32px;
    }

    .careers_form_btn {
        width: 119px;
        height: 54px;
        border: none;
        border-radius: 31px;
        background-color: #F58A07;
        color: white;
        font-size: 16px;
    }
}