#common-latest{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #DCEAF5;
}
.latest{
    font-size: 48px;
}
.common-latest__card{
  max-width: 400px;
  height: 507px;
  background-color:white;  
  border-radius:20px ;
  margin-top:80px ;
  transition: 0.5s;
} 
.common-latest__card img{
    width: 100%;

}
.common-latest__card h2, p {
    margin-top:30px ;
    margin-left: 30px;
}
.common-latest__card p{
    color:#5B5B5B ;
    font-size: 16px;
}
.common-latest__cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 40px;
}
.common-latest__card h2{
    font-size: 24px;
}
.common-latest__card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px gray;
}
.learn{
    margin-top: 30px;
    margin-left: 30px;
    width: 120px !important;
    height: 17px;
}
@media (max-width:1000px) {
    .common-latest__cards{
        grid-template-columns: auto auto;
       
    }
}
@media (max-width:700px) {
    .common-latest__cards {
        grid-template-columns: auto;
display: flex;
flex-direction: column;
align-items: center;
    }
}
#home-hero{
    padding-top: 200px;
    padding-bottom: 100px;
}
.home-hero2{
    display: grid;
    grid-template-columns: auto auto;
}
.home-hero__pro h1{
    font-size: 64px;
}
.home-hero__pro p {
    font-size:18px ;
    color: #5B5B5B;
}
.home-hero__button{
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
  
}
.home-hero__button button{
    width: 200px;
        height: 54px;
        font-size: 16px;
        border-radius: 27px;
        border: none;
        background-color: #DCEAF5;
        transition: 0.5s;
}
.home-hero__button button:hover{
    color: white;
    background-color: #F58A07;
}
.logo-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
}
.logo-card{
    display: flex;
    gap: 15px;
    align-items: center;
}